@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B2434;
    padding: 30px 20px;
}

.container {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    line-height: 30px;
    text-align: center;
    color: #2B283A;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 3em;
    padding-bottom: 1.8em;

    background-color: #F5F5F5;
    border-radius: 10px;

    max-width: 600px;
    margin-inline: auto;
    margin-top: 1em;

    position: relative;
}

/* text */
.text--title {
    margin-bottom: .4em;
}

.text--description {
    font-size: 85%;
    color: #4A4E74;
    margin-bottom: 1.5em;
}

/* dice */
.dice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8em;

    margin-bottom: 1.6em;
}

.die-container {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
    box-shadow: 1px 5px 5px  rgba(0, 0, 0, .3);
    border-radius: 3.81277px;
    cursor: pointer;
}

.die--value {
    font-size: 1.4em;
    user-select:none;
}

.roll-dice {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    color: #FFFFFF;
    letter-spacing: -1px;

    padding: .2em 1.3em;

    border: none;
    background-color: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;

    transition: all .8s ease-in-out;
}

.roll-dice:hover, .roll-dice:active {
    color: #dbdbdb;
    background-color: #715cf9;
}

.roll-dice:active {
    transition: all 1s ease-in-out;

    box-shadow: inset 2px 4px 10px 3px blue;
    background-color: #2c11da;
}

.count-container {
    position: absolute;
    top: .5em;
    left: 0;
    width: 100%;

    font-size: .5em;

    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}

.dice--count, .lowest-count {
    color: #2c11da;
}
